#TOC {
  font-family: Arial;
  font-size: 16px; 
  border-color: #708090;
}
h1.title {
  opacity: 0.6;
  font-family: Arial;
  font-size: 20px;
}
h4.author {
  color: #708090;
  font-family: Arial;
  background-color: #F5F5F5;
}
h4.date {
  color: #708090;  
  font-family: Arial;
  background-color: #F5F5F5;
  font-size: 15px;
}
body {
  color: #0b0f13;
  font-family: Arial;
  background-color: #F5F5F5;
}
pre {
  color: #0b0f13;
  background-color: #F8F8FF;
}